<?xml version="1.0" encoding="UTF-8"?>
<beans   xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
         
    <import resource="config/serverCfg/mnet.xml"/>
    <import resource="config/serverCfg/p1-action.xml"/>
    <import resource="config/serverCfg/notice.xml"/>
    <import resource="config/serverCfg/filter.xml"/>
    <import resource="config/serverCfg/server.xml"/>


</beans>