<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">    
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >    
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">    
        <layout class="org.apache.log4j.PatternLayout">    
            <param name="ConversionPattern"   
                   value="%5p %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%c:%L) - %m%n" />    
        </layout>    
    </appender>    
     
    <appender name="farmCache_appender" class="org.apache.log4j.DailyRollingFileAppender">    
        <param name="File" value="./logs/updateServer.log" />    
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />    
        <layout class="org.apache.log4j.PatternLayout"><!--    
                <param name="ConversionPattern" value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] %c{3\} - %m%n" />    
            -->
            <param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] (%c:%L) - %m%n" />  
        </layout>    
    </appender>    
    <logger name="com.bw" additivity="false">    
        <level value="debug" />    
        <appender-ref ref="farmCache_appender" /> 
        <appender-ref ref="STDOUT" />    
    </logger>   
    <logger name="com.danga.MemCached" additivity="false">    
        <level value="error" />    
        <appender-ref ref="farmCache_appender" />   
            
    </logger>  
    <logger name="com.google.code.yanf4j" additivity="false">    
        <level value="error" />    
        <appender-ref ref="STDOUT" />   
    </logger>   
    <logger name="net.rubyeye.xmemcached.impl" additivity="false">    
        <level value="error" />    
        <appender-ref ref="STDOUT" />   
    </logger>   
    <logger name="org.springframework.jdbc" additivity="false">    
        <level value="error" />   
        <appender-ref ref="farmCache_appender" />   
          
    </logger>  
    <logger name="com.mchange.v2" additivity="false">    
        <level value="error" />   
        <appender-ref ref="farmCache_appender" />   
        <appender-ref ref="STDOUT" />   
    </logger> 
		
    <root>    
        <appender-ref ref="STDOUT"/>    
    </root>    
</log4j:configuration>   
